.hl_button {
    -fx-cursor: hand;
}

.header {
    -fx-pref-height: 52px;
    -fx-padding: 4px;
    -fx-background-color: #242424;
}

.header_title {
    -fx-font-size: 22px;
    -fx-text-fill: #ea9655;
}

.greetings {
    -fx-padding: 15px;
    -fx-font-size: 14px;
    -fx-wrap-text: true;
    -fx-pref-height: 100px;
}

.hl_textfield {
    -fx-pref-height: 40px;
}

.hl_button {
    -fx-pref-height: 40px;
    -fx-padding: 5px;
    -fx-min-width: 100px;
}

.button {
    -fx-cursor: hand;
}

#menu {
    -fx-pref-width: 40px;
}

.side_menu_element {
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;

    -fx-background-size: 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-cursor: hand;
}

#goToRemoveElementButton {
    -fx-background-image: url("/remove.png");
}

#goToFavoritesButton {
    -fx-background-image: url("/favorite.png");
}

#goHomeButton {
    -fx-background-image: url("/home.png");
}

#goToSearchButton {
    -fx-background-image: url("/search.png");
}

#goToUsersButton {
    -fx-background-image: url("/users.png");
}

#goToCollectionsButton {
    -fx-background-image: url("/collections.png");
}

#goToSecurityButton {
    -fx-background-image: url("/security.png");
}

#goOutButton {
    -fx-background-image: url("/sing_out.png");
}

.hl_action_button {
    -fx-background-size: 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-cursor: hand;
}

#goToCreateEntryButton {
    -fx-background-image: url("/create.png");
}

#goToCreateCategoryButton {
    -fx-background-image: url("/create_folder.png");
}

#goBackButton {
    -fx-background-image: url("/back.png");
}

#homeList {
    -fx-background-color: #191919;
}

.category_element {
    -fx-font-style: italic;
}

#sideMenu {
    -fx-background-color: #191919;
}

/*
#logoTitle {
    -fx-text-fill: #ea9655;
    -fx-font-size: 36px;
}

#descriptionLabel {
    -fx-text-fill: #e5745c;
}

#developedByLabel {
    -fx-text-fill: #464646;
}

#header {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #e5745c;
    -fx-background-color: #303030;
}

#statusLabel {
    -fx-text-fill: #e5745c;
    -fx-text-alignment: center;
}

#body {
    -fx-background-color: #303030;
}*/
