.hl_button {
    -fx-cursor: hand;
}

.header {
    -fx-pref-height: 52px;
    -fx-padding: 4px;
    -fx-background-color: #242424;
}

.header_title {
    -fx-font-size: 22px;
    -fx-text-fill: #ea9655;
}

.greetings {
    -fx-padding: 15px;
    -fx-font-size: 14px;
    -fx-wrap-text: true;
    -fx-pref-height: 100px;
}

.hl_textfield {
    -fx-pref-height: 40px;
}

.hl_button {
    -fx-pref-height: 40px;
    -fx-padding: 5px;
    -fx-min-width: 100px;
}

.button {
    -fx-cursor: hand;
}

/*
#logoTitle {
    -fx-text-fill: #ea9655;
    -fx-font-size: 36px;
}

#descriptionLabel {
    -fx-text-fill: #e5745c;
}

#developedByLabel {
    -fx-text-fill: #464646;
}

#header {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #e5745c;
    -fx-background-color: #303030;
}

#statusLabel {
    -fx-text-fill: #e5745c;
    -fx-text-alignment: center;
}

#body {
    -fx-background-color: #303030;
}*/
